body {
    background: rgb(246, 216, 182);
    text-align: center;
}

.title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 10px;
}

.container {
    margin-top: 40px;
}

.input {
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}

select, input[type=number] {
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
}

button {
    background-color: #1a96e3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #2df5d5;
    color: #f60276;
}