<div class="box">
    <div class="map">
    </div>
    <div class="info">
        <input class="btn" onclick="to_options()" id="options" name="options" type="button" value="Options">
        <input class="btn" onclick="to_quit()" id="quit" name="quit" type="button" value="Quit">
        <a>Iterations: 0/100</a>
        <a>Amount of undetected food: 100</a>
        <a>Red bugs remaining: 10</a>
        <a>Red bugs killed: 20</a>
        <a>Food brought home for red bugs: 4</a>
        <a>Black bugs remaining: 10</a>
        <a>Black bugs killed: 20</a>
        <a>Food brought home for black bugs: 4</a>
    </div>
</div>
<div class="logs">
    <h1>Logs will be here</h1>
</div>
