<h1>Bug World</h1>
<form>
    <label for="worldMap">Please upload a world map file:</label><br>
    <input type="file" id="worldMap" name="worldMap"><br><br>

    <label for="bugAssembler1">Please upload a bug assembler source code file #1:</label><br>
    <input type="file" id="bugAssembler1" name="bugAssembler1"><br><br>

    <label for="bugAssembler2">Please upload a bug assembler source code file #2:</label><br>
    <input type="file" id="bugAssembler2" name="bugAssembler2"><br><br>

    <label for="numIterations">Please select the number of iterations:</label>
    <input type="number" id="numIterations" name="numIterations"><br><br>

    <label for="logResults">Do you want to log the results of the session?</label><br>
    <input type="checkbox" id="logResults" name="logResults"><br><br>

    <input type="button" onclick="to_main_page()" value="Next">
</form>