body {
    margin: 0;
    padding: 0;
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
}
.title {
    font-size: 4rem;
    text-align: center;
    margin-top: 2rem;
    text-shadow: 1px 1px 1px #000;
}
.container {
    margin: 0 auto;
    width: 50%;
    padding: 3rem;
    background-color: #444;
    box-shadow: 0 0 5px 1px #000;
}
.upload {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    animation: slideInUp 1s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
}
.upload:last-of-type {
    margin-bottom: 0;
}
.upload:nth-child(2n) {
    animation-delay: 0.5s;
}
.upload label {
    font-size: 1.5rem;
    margin-right: 1rem;
}
select option[value="red"] {
    color: red;
}

select option[value="black"] {
    color: black;
}
.upload select,
.upload input[type="number"] {
    font-size: 1.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #666;
    color: white;
    width: 10rem;
    margin-right: 1rem;
}
.upload input[type="number"] {
    width: 6rem;
    text-align: center;
}
.upload select:focus,
.upload input[type="number"]:focus {
    outline: none;
    box-shadow: 0 0 5px 1px #fff;
}
#gameButton {
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    margin-top: 2rem;
    cursor: pointer;
    background-color: #004080;
    color: white;
    box-shadow: 0 0 5px 1px #000;
    transition: transform 0.2s ease-in-out;
    text-transform: uppercase;
    animation: slideInUp 1s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
}
#gameButton:hover {
    transform: scale(1.1);
}
@keyframes slideInUp {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}